{
    "title":"Velero",
    "width":800,
    "height":600,
    "path":[
        "assets",
        "/home/miguel_mj/Programs/ASSETS/TEXTURES/"
        ],
    "layers":[
        "background",
        "behind",
        "middle",
        "front",
        "foremost",
        "Llight"
        ],
    "entry":"level0.scene",
    "splashscreen":false,
    "errlog":"logs/error.log",
    "infolog":"logs/info.log",
    "stderr":false
}
